torch
torchvision
pandas
addict
scikit-learn
opencv-python
pytorch_warmup
scikit-image
tqdm
p_tqdm
imgaug
Shapely
ujson
yapf
pathspec
timm
mmcv
albumentations
ptflops
scipy
Matplotlib
contourpy
pywavelets
thop
six
